- subreddit: aww
  search_query: orange kitten
- subreddit: AITAH
  search_query: bagel
- subreddit: gaming
  search_query: posting simulator
- subreddit: gaming
  search_query: flamewar simulator
- subreddit: gaming
  search_query: waffle house fight simulator
- subreddit: pcmasterrace
  search_query: mountain dew
